<div class="container">
    <h3>Add comment form.</h3>

    <form [formGroup]="commentForm"  novalidate>
        <div class="form-group">
            <label for="name">Name</label>

            <input id="name" type="text" class="form-control"
                   formControlName="name" required />

            <div *ngIf="formErrors.name" class="alert alert-danger">
                {{ formErrors.name }}
            </div>
        </div>

        <div class="form-group">
            <label for="comment">Comment</label>

            <textarea id="comment" class="form-control"
                   formControlName="comment" required></textarea>

            <div *ngIf="formErrors.comment" class="alert alert-danger">
                {{ formErrors.comment }}
            </div>
        </div>

        <div *ngIf="!commentForm.valid" class="alert alert-danger">
            Invalid form try to fix input values!
        </div>

        <button class="btn btn-default" (click)="addComment()">Submit</button>
    </form>
</div>