*{
    margin: 0; padding: 0;
}
img {
    max-width: 100%;
}
body {
    position: relative;
    padding: 0;
    margin: 0;
    background: #CCEAE7 url(Img/bg-body.jpg) left top repeat-x;
    color: #333333;
    font-size: 85%;
    font-family: Arial,Helvetica,sans-serif;
}

.bg-bot{
background:  url("Img/bg-bottom2.jpg") bottom no-repeat
}    
    
.karkas {    
    display: block;
    position: relative;
    width: 990px;
    min-height: 1024px;
    margin: 0 auto;
    z-index: 10;
    overflow: hidden;
}
.header{
    display: block;
    position: relative;
    height: 100px;
}
.header a:first-child{
    margin: 10px 0 0 0;
}
.header a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.head-left{
    display: block;
    position: absolute;
    top:10px;
    right: 0;
}
.head-left a{
    display: inline;
    position: relative;
    margin: 0 5px;
}
.head-left p{
    font-weight: bold;
    background: #ffa900;
    padding: 4px 10px;
    margin: 5px 0;
   
}
.head-center{
    display: block;
    position: absolute;
    top: 0;
    left: 260px;
}
.search{
    margin: 35px 0 5px 0;
    background: url(Img/search-bg.png) no-repeat;
    padding-top: 7px;
}
.search img{
    display: block;
    margin: -3px 0 0 0;
}
#search-field{
 float: left;
display: block;
border: solid 1px #FFFFFF;
width: 260px;
height: 20px;
margin: -2px 0 2px 5px;
padding: 0 4px;
color: #7A868E;
background: #FFFFFF;
font-style: italic;
}
.head-center a {
    font-weight: bold;
    margin-top: 5px;
    background: #ffa900; 
    padding: 3px;
}
.head-center a:hover {
    text-decoration: none;
}
.head-center p{
    color: #1a5079;
    font-size: 16px;
    
}
.head-center p span{
    font-weight: bold;
    
}
.menu-main{
display: block;
width: 100%;
height: 43px;
overflow: hidden;
}

.menu-main table {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
overflow: hidden;
border-collapse: collapse;
    background: url(Img/main-menu-bg.png) repeat-x left top;
    
}

.menu-main a{
    color: #1a5079;
    font-weight: bold;
    font-size: 1.2em;
    border-left: 1px solid #fff;
    padding: 14px 14px;                  
    text-decoration: none;
    border: none;
    
}
#last{
    color: #fff;
    background:  #1a5079;
}

.menu-main a:hover{
    color: #fff;
    background:  #1a5079;
}


.after-head {
    overflow: hidden;
 display: block;
 position: relative;
 width: 100%;
    background: #fff;
}

.footer{
    background: #dfdfdf;
    overflow: hidden;
    width: 100%;
}
.footer a{
   float: left;
    padding: 10px;
}
.footer p{
   float: left;
    font-size: 0.8em;
    overflow: hidden;
    padding: 40px 0;
}
.foot-r{
    float: right;
     padding: 30px 4px;
}
.after-head{
    overflow: hidden;
    width: 100%;
    background: #1d5b89;
    color: #c0e3f4;
    
}
.after-head h1{
    color: #fff;
    padding: 15px;
    font-size: 1.8em;
}
.find-holder{
    overflow: hidden;
    padding: 15px;
}
.find-holder p{
    margin: 8px 0;
}
.find-holder img{
    float: right;
    margin-top: 105px;
}
.find-holder-left{
    float: left;
}
.find-holder-center{
    float: left;
    padding: 0 50px;
}
#error{
    color: red;
    
}
.hotel-holder{
    min-height: 700px;
    background: #fff;
    padding: 10px 0;
}
.hotel-holder h2{
    margin: 0 15px;
    font-size: 1.7em;
}
.single-hot{
    overflow: hidden;
    padding: 20px 15px 30px;
    border-bottom: 1px dotted #B3C1C8;
    position: relative;
    
}
.single-hot a{
    float: left;
    margin: 0 15px 0 0;
    color: #61b7ea;
    font-size: 0.8em;
    max-width: 30%;
}
#countryA{
    margin: 0 5px 0 0;
}
.single-hot a:hover{
    text-decoration: none;
    color: #61b7ea;
}
.single-a{
    font-size: 1.5em!important;
    color: #1a5079!important;
    margin: 5px 0!important;
    width: 77%;
    text-decoration: none;
    font-weight: bold;
}
.sp-m{
    line-height: 20px;
}
.display{
    color: #333;
    float: right;
    width: calc(70% - 15px);
}
.cena-d{
    position: absolute;
    bottom: 0;
    right: 15px;
}
.cena-d span{
    font-size: 1.8em;
    font-weight: bold;
    margin-left: 10px;
}
.cena-d p{
    font-size: 0.8em;
    color: #8796a5;
    margin: 0;
    padding-left: 100px;
    
}
.get-comf {
    display: none;
}
input[type=submit]{
    position: relative;
    border: none;
    background-color: transparent;
    bottom: -110px;
    right: -300px;
    overflow: hidden;
    cursor: pointer;
    height: 44px;
    width: 125px;
    background-image: url(Img/btn-find.png);
}
.search-bascet{
    position: absolute;
    background: #fff;
    width: 297px;
    top: 67px;
    left: 261px;
    min-height: 100px;
    border-radius: 10px;
    border: 1px solid #86A0BA;
    z-index: 100;
    padding: 10px;
}
.single-hotel{
    padding: 10px 0;
}
.single-hotel a{
    color: #333;
    text-decoration: none;
}
.single-hotel:hover{
    background: #E0F1FA;
}

