* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  background: #CCEAE7 url(../img/bg-body.jpg) left top repeat-x;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin: 0;
  padding: 0;
}
.bg-bot {
  background: url("../img/bg-bottom2.jpg") bottom no-repeat;
}
.karkas {
  display: block;
  position: relative;
  width: 990px;
  min-height: 1024px;
  margin: 0 auto;
  z-index: 10;
}
.header {
  display: block;
  position: relative;
  height: 100px;
}
.header a:first-child {
  margin: 10px 0 0 0;
}
.header a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.head-left {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
}
.head-left a {
  display: inline;
  position: relative;
  margin: 0 5px;
}
.head-left p {
  font-weight: bold;
  background: #ffa900;
  padding: 4px 10px;
  margin: 5px 0;
}
.head-center {
  display: block;
  position: absolute;
  top: 0;
  left: 260px;
}
.search {
  margin: 35px 0 5px 0;
  background: url(../img/search-bg.png) no-repeat;
  padding-top: 7px;
}
.search img {
  display: block;
  margin: -3px 0 0 0;
}
#search-field {
  float: left;
  display: block;
  border: solid 1px #FFFFFF;
  width: 260px;
  height: 20px;
  margin: -2px 0 2px 5px;
  padding: 0 4px;
  color: #7A868E;
  background: #FFFFFF;
  font-style: italic;
}
.head-center a {
  font-weight: bold;
  margin-top: 5px;
  background: #ffa900;
  padding: 3px;
}
.head-center a:hover {
  text-decoration: none;
}
.head-center p {
  color: #1a5079;
  font-size: 16px;
}
.head-center p span {
  font-weight: bold;
}
.menu-main {
  display: block;
  width: 100%;
  height: 43px;
  overflow: hidden;
}
.menu-main table {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-collapse: collapse;
  background: url(../img/main-menu-bg.png) repeat-x left top;
}
.menu-main a {
  color: #1a5079;
  font-weight: bold;
  font-size: 1.2em;
  border-left: 1px solid #fff;
  padding: 14px 14px;
  text-decoration: none;
  border: none;
}
#last {
  color: #fff;
  background: #1a5079;
}
.menu-main a:hover {
  color: #fff;
  background: #1a5079;
}
.after-head {
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  background: #fff;
}
.footer {
  background: #dfdfdf;
  overflow: hidden;
  width: 100%;
}
.after-head {
  overflow: hidden;
  width: 100%;
  background: #1d5b89;
  color: #c0e3f4;
}
.after-head h1 {
  color: #fff;
  padding: 15px;
  font-size: 1.8em;
}
.find-holder {
  overflow: hidden;
  padding: 15px;
}
.find-holder p {
  margin: 8px 0;
}
.find-holder img {
  float: right;
  margin-top: 105px;
}
.find-holder-left {
  float: left;
}
.find-holder-center {
  float: left;
  padding: 0 50px;
}
#error {
  color: red;
}
.hotel-holder {
  min-height: 700px;
  background: #fff;
  padding: 10px 0;
}
.hotel-holder h2 {
  margin: 0 15px;
  font-size: 1.7em;
}
.single-hot {
  overflow: hidden;
  padding: 20px 15px 30px;
  border-bottom: 1px dotted #B3C1C8;
  position: relative;
}
.single-hot a {
  float: left;
  margin: 0 15px 0 0;
  color: #61b7ea;
  font-size: 0.8em;
  max-width: 30%;
}
#countryA {
  margin: 0 5px 0 0;
}
.single-hot a:hover {
  text-decoration: none;
  color: #61b7ea;
}
.single-a {
  font-size: 1.5em!important;
  color: #1a5079!important;
  margin: 5px 0!important;
  width: 77%;
  text-decoration: none;
  font-weight: bold;
}
.sp-m {
  line-height: 20px;
}
.display {
  color: #333;
  float: right;
  width: calc(55%);
}
.cena-d {
  position: absolute;
  bottom: 0;
  right: 15px;
}
.cena-d span {
  font-size: 1.8em;
  font-weight: bold;
  margin-left: 10px;
}
.cena-d p {
  font-size: 0.8em;
  color: #8796a5;
  margin: 0;
  padding-left: 100px;
}
.get-comf {
  display: none;
}
input[type=submit] {
  /*position: relative;
  border: none;
  background-color: transparent;
  bottom: -110px;
  right: -300px;
  overflow: hidden;
  cursor: pointer;
  height: 44px;
  width: 125px;
  background-image: url(../img/btn-find.png);*/
}
.search-bascet {
  position: absolute;
  background: #fff;
  width: 297px;
  top: 67px;
  left: 261px;
  min-height: 100px;
  border-radius: 10px;
  border: 1px solid #86A0BA;
  z-index: 100;
  padding: 10px;
}
.single-hotel {
  padding: 10px 0;
}
.single-hotel a {
  color: #333;
  text-decoration: none;
}
.single-hotel:hover {
  background: #E0F1FA;
}
.popups-holder {
  display: none;
}
.copyright {
  color: #888888;
  font-size: 12px;
  text-align: center;
}
.meta-title {
  color: #ffa900;
  font-weight: bold;
  font-size: 18px;
}
.meta-value {
  font-size: 14px;
  color: #003e58;
  font-weight: bold;
}
.main-menu {
  background: #e4f3fb;
  min-height: auto;
}
.main-menu .navbar-nav {
  list-style: none;
}
.main-menu .navbar-nav a {
  color: #11345e !important;
  font-size: 16px;
  display: block;
  padding: 10px 8px;
  text-decoration: none;
  font-weight: bold;
}
.main-menu .navbar-nav a:hover,
.main-menu .navbar-nav a.active {
  background-color: #11345e !important;
  color: #fff!important;
}
.hotel-single-wrapper {
  background-color: #fff;
  padding: 20px 20px;
  position: relative;
}
.hotel-single-wrapper .hotel-content {
  font-size: 18px;
  margin-top: 20px;
  text-align: justify;
  line-height: 1.2em;
}
.hotel-single-wrapper .hotel-title {
  margin-bottom: 20px;
}
.hotel-single-wrapper .info-basket-holder {
  position: absolute;
  overflow: hidden;
  width: 290px;
  background: #E0F1FA;
  top: 20px;
  right: -210px;
}
.hotel-single-wrapper .info-basket-holder em {
  display: block;
  overflow: hidden;
  padding: 2px 25px 10px;
}
.hotel-single-wrapper .basket-title {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  overflow: hidden;
  padding: 25px 25px 10px 25px;
}
.hotel-single-wrapper .basket-single {
  display: block;
  overflow: hidden;
  padding: 2px 25px 10px;
  text-align: left;
}
.hotel-single-wrapper .basket-single-l {
  background: #6CAFE0;
  border-radius: 100px;
  color: #FFFFFF;
  display: block;
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 26px;
  overflow: hidden;
  text-align: center;
  width: 26px;
}
.hotel-single-wrapper .basket-single-r {
  width: 207px;
  float: right;
}
.hotel-single-wrapper .basket-single-r p {
  font-weight: bold;
  margin-bottom: 3px;
}
.hotel-single-wrapper .choice-tur {
  position: relative;
  width: 660px;
  background: #1D5B89;
  overflow: hidden;
  margin: 18px 0;
}
.hotel-single-wrapper .choice-tur input {
  width: 125px;
}
.hotel-single-wrapper .choice-tur p {
  color: #C0E3F4;
  font-weight: bold;
}
.hotel-single-wrapper .choice-tur-top p {
  margin: 10px 15px 5px 15px;
}
.hotel-single-wrapper .choice-tur-top input {
  margin: 5px 15px 10px 15px;
}
.hotel-single-wrapper .choice-tur-top input[type=submit] {
  position: absolute;
  right: 10px;
  top: 25px;
}
.hotel-single-wrapper .choice-tur-bot {
  background: #36719C;
  padding: 10px 0;
}
.hotel-single-wrapper .choice-tur-bot li {
  margin: 0 15px;
}
.hotel-single-wrapper .choice-tur-bot li:first-child {
  padding-left: 0 !important;
}
